[submodule "leetcode-cpp"]
	path = leetcode-cpp
	url = https://github.com/BASARANOMO/leetcode-cpp
[submodule "leetcode-python"]
	path = leetcode-python
	url = https://github.com/BASARANOMO/leetcode-python
[submodule "leetcode-golang"]
	path = leetcode-golang
	url = https://github.com/BASARANOMO/leetcode-golang
